<div class="container-fluid noPadding" ng-init="homeCtrl.init()">
    <div class="col-md-12 noPadding">
        <div class="col-md-2" style="padding: 0px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Adauga Produs
                </div>
                <div class="panel-body">
                    <form name="adaugaProdus" id="adaugaProdus">
                        <label for="productName">Nume Produs</label>
                        <input
                        type="text"
                        class="form-control"
                        name="productName"
                        required
                        ng-model="homeCtrl.prod.Name"
                        placeholder="Denumire Produs"/>
                        <br />
                        <label for="cantitate">Cantitate</label>
                        <input
                            type="number"
                            class="form-control"
                            name="cantitate"
                            required
                            ng-model="homeCtrl.prod.Quantity"
                            ng-change="homeCtrl.calculateValues();"
                            placeholder="Cantitate"/>
                        <br />
                        <select class="form-control" ng-model="homeCtrl.prod.status" ng-init="homeCtrl.prod.status = 'ready'">
                            <option value="ready">La vanzare</option>
                            <option value="loss">Pierdut</option>
                            <option value="expired">Expirat</option>
                        </select>
                        <br />
                        <label for="expireDate">Data expirarii</label>
                        <input
                        type="date"
                        class="form-control"
                        min-date="today"
                        required
                        ng-model="homeCtrl.prod.expireDate" />
                        <br />

                        <hr />
                        <button type="reset" class="btn btn-danger pull-left">Reseteaza</button>
                        <button type="button" class="btn btn-success pull-right" ng-if="!homeCtrl.editSelected"  ng-disabled="!adaugaProdus.$valid" ng-click="homeCtrl.addProduct();">Adauga Produs <i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-success pull-right" ng-if="homeCtrl.editSelected"  ng-disabled="!adaugaProdus.$valid" ng-click="homeCtrl.editProductSelected(homeCtrl.editedProduct);">Editeaza Produs <i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-10 noPadding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Lista Produse Achizitionate
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" id="tableProduct" ng-if="homeCtrl.allProducts.length">
                       <thead>
                           <tr>
                               <th>
                                <input type="text" ng-model="searchName" class="form-control" placeholder="Denumire Produs" />
                               </th>
                               <th>
                                   <input type="text" placeholder="Cantitate" class="form-control" ng-model="searchQuantity">
                               </th>
                               <th class="text-center">Data expirarii</th>
                               <th class="text-center">Status</th>
                               <th class="text-center">
                                   Editeaza
                               </th>
                               <th class="text-center">
                                   Sterge
                               </th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr ng-repeat="produs in homeCtrl.allProducts | filter:{name : searchName, unitMeasure: searchUM, quantity: searchQuantity } | orderBy: 'expireDate' track by $index"
                               ng-class="{
                                   'editingProduct' : produs._id === homeCtrl.editedProduct._id,
                                   'first' : $index == 0
                               }">

                               <td>{{produs.name}}</td>
                               <td class="text-center">{{produs.quantity}}</td>
                               <td class="text-center">{{produs.expireDate | date: 'dd/MM/yyyy' }}</td>
                               <td class="text-center">
                                   <span ng-if="produs.status === 'ready'" class="label label-success">In vanzare</span>
                                   <span ng-if="produs.status === 'loss'" class="label label-warning">Pierdut</span>
                                   <span ng-if="produs.status === 'expired'" class="label label-danger">Expirat</span>
                               </td>
                               <td class="text-center">
                                   <a href="" ng-click="homeCtrl.editProduct(produs)">
                                       <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:blue"></i>
                                   </a>
                               </td>
                               <td class="text-center">
                                   <a href="" ng-click="homeCtrl.deleteProduct(produs)">
                                       <i class="fa fa-trash-o" aria-hidden="true" style="color:red"></i>
                                   </a>
                               </td>
                           </tr>
                       </tbody>
                     </table>
                     <div ng-if="!homeCtrl.allProducts.length">
                        Nu exista produse adaugate!
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
