<div class="container-fluid noPadding" ng-init="homeCtrl.init()">
    <div class="col-md-12 noPadding">
        <div class="col-md-2" style="padding: 0px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Adauga Produs
                </div>
                <div class="panel-body">
                    <form name="adaugaProdus" id="adaugaProdus">
                        <label for="productName">Nume Produs</label>
                        <input
                        type="text"
                        class="form-control"
                        name="productName"
                        required
                        ng-model="homeCtrl.prod.Name"
                        placeholder="Denumire Produs"/>
                        <br />
                        <label for="cantitate">Cantitate</label>
                        <input
                            type="number"
                            class="form-control"
                            name="cantitate"
                            required
                            ng-model="homeCtrl.prod.Quantity"
                            ng-change="homeCtrl.calculateValues();"
                            placeholder="Cantitate"/>
                        <br />
                        <label for="pretFaraTVA">Pret fara T.V.A</label>
                        <input
                            type="number"
                            class="form-control"
                            name="pretFaraTVA"
                            required
                            ng-disabled="!homeCtrl.prod.Quantity"
                            ng-change="homeCtrl.calculateValues()"
                            ng-model="homeCtrl.prod.PriceNoTVA"
                            placeholder="Pret unitar fara T.V.A"/>
                        <br />
                        <label for="productUM">U.M. produs</label>
                        <select class="form-control" name="productUM" ng-model="homeCtrl.prod.UM" required>
                            <option value="" selected>U.M produs</option>
                            <option value="BUC">BUC</option>
                            <option value="BAX">Bax</option>
                        </select>
                        <br />
                        <label for="productValue">Valoare produs</label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Valoare produs"
                            name="productValue"
                            ng-readonly="true"
                            ng-model="homeCtrl.prod.Value" />
                        <br />
                        <label for="productTVAvalue">Valoare T.V.A</label>
                        <input
                            type="text"
                            class="form-control"
                            name="productTVAvalue"
                            placeholder="Valoare T.V.A"
                            ng-readonly="true"
                            ng-model="homeCtrl.prod.TVAvalue"/>
                        <br />
                        <label for="acquireDate">Data achizitionarii</label>
                        <input
                        type="date"
                        class="form-control"
                        min-date="today"
                        required
                        ng-model="homeCtrl.prod.AcquireDate" />

                        <hr />
                        <button type="reset" class="btn btn-danger pull-left">Reseteaza</button>
                        <button type="button" class="btn btn-success pull-right" ng-disabled="!adaugaProdus.$valid" ng-click="homeCtrl.addProduct();">Adauga Produs <i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-10 noPadding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Lista Produse Achizitionate
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered" id="tableProduct" ng-if="homeCtrl.allProducts.length">
                       <thead>
                           <tr>
                               <th>
                                <input type="text" ng-model="searchName" class="form-control" placeholder="Denumire Produs" />
                               </th>
                               <th>
                                   <select class="form-control" ng-model="searchUM">
                                       <option value="">All</option>
                                       <option value="BUC">BUC</option>
                                       <option value="BUC">BAX</option>
                                   </select>
                               </th>
                               <th>
                                   <input type="text" placeholder="Cantitate" class="form-control" ng-model="searchQuantity">
                               </th>
                               <th>Pret fara T.V.A (lei)</th>
                               <th>Valoare produs (lei)</th>
                               <th>Valoare T.V.A (lei)</th>
                               <th>
                                   Data achizitionarii
                               </th>
                               <th>
                                   Sterge Produs
                               </th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr ng-repeat="produs in homeCtrl.allProducts | filter:{name : searchName, unitMeasure: searchUM, quantity: searchQuantity } track by $index">
                               <td>{{produs.name}}</td>
                               <td>{{produs.unitMeasure}}</td>
                               <td>{{produs.quantity}}</td>
                               <td>{{produs.price}}</td>
                               <td>{{produs.productValue}}</td>
                               <td>{{produs.tvaValue}}</td>
                               <td>{{produs.acquireDate | date: 'dd/MM/yyyy'}}</td>
                               <td class="text-center">
                                   <a href="" ng-click="homeCtrl.deleteProduct(produs)">
                                       <i class="fa fa-trash-o" aria-hidden="true" style="color:red"></i>
                                   </a>
                               </td>
                           </tr>
                       </tbody>
                     </table>
                     <div ng-if="!homeCtrl.allProducts.length">
                        Nu exista produse adaugate!
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
